<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Inventário
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>


    <ion-card *ngIf="notFoundTags">

        <ion-card-header>
            <ion-card-title>Tags</ion-card-title>
            <ion-card-subtitle>Tags encontradas</ion-card-subtitle>
        </ion-card-header>

        <ion-list>
            <ng-container *ngIf="!blades || blades.length == 0">
                <div *ngFor="let n of [0, 1, 2]"
                     padding>
                    <ion-skeleton-text> </ion-skeleton-text>
                </div>
            </ng-container>

            <div *ngFor="let item of blades">
                <ion-item lines="inset"
                          button
                          [routerLink]="['/blades', item.id]">
                    <ion-label> {{ item.name }} - {{ item.description }} </ion-label>
                    <ion-note color="primary"
                              slot="end"> Id: {{ item.id }} </ion-note>
                </ion-item>
                <ion-item-options side="end">
                    <ion-item-option color="danger"
                                     (click)="removeBlade(item)">Excluir
                    </ion-item-option>
                </ion-item-options>
            </div>

        </ion-list>

        <ion-card-header>
            <ion-card-subtitle>Tags não encontradas</ion-card-subtitle>
        </ion-card-header>
        <ion-list>
            <ion-item lines="inset"
                      button
                      [routerLink]="['/blades', tag.id]"
                      *ngFor="let tag of notFoundTags">
                <ion-label> {{ tag.name }} - {{ tag.description }} </ion-label>
                <ion-note color="primary"
                          slot="end"> Id: {{ tag.id }} </ion-note>
            </ion-item>
        </ion-list>

    </ion-card>
</ion-content>
