<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/categories"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ pageTitle }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input required type="text" [(ngModel)]="categorie.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descrição</ion-label>
      <ion-input
        required
        type="text"
        [(ngModel)]="categorie.description"
      ></ion-input>
    </ion-item>
    <ion-button
      color="{{ buttonColor }}"
      (click)="saveCategorie()"
      expand="block"
    >
      {{ saveButtonTitle }}
    </ion-button>
  </ion-card>
</ion-content>
