.welcome-card ion-img {
    max-height: 35vh;
    overflow: hidden;
  }
  
  .blade-pic {
    width: 318px;
    height: auto;
    left: 10px;
    position: relative;
  }
  
  .disconected {
    font-size: 20px;
      color: red;
      top: 2px;
      position: relative;
      left: 5px;
  
  }
  .conected {
    font-size: 20px;
      color: #22d022;
      top: 2px;
      position: relative;
      left: 5px;
  
  }
  