<ion-header>

    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="secondary">
            <ion-button>
                <ion-button>
                    <ion-icon *ngIf="connected"
                              style="font-size:25px;"
                              name="md-battery-full">{{ batteryLevel }}%
                    </ion-icon>
                </ion-button>
                <ion-icon style="font-size:25px; color:#22d022"
                          *ngIf="connected"
                          ios="ios-radio-button-on"
                          md="md-radio-button-on">
                </ion-icon>
                <ion-icon style="font-size:25px; color:red"
                          *ngIf="!connected"
                          ios="ios-radio-button-on"
                          md="md-radio-button-on">
                </ion-icon>
            </ion-button>

        </ion-buttons>
        <ion-buttons slot="primary">
            <ion-button color="danger">
                <ion-icon slot="icon-only"
                          name="more"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Conectar</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-button (click)="scan()"
                expand="full">
                <ion-icon name="search"></ion-icon>
        <ion-label>Buscar Dispositivos</ion-label>
    </ion-button>
<!-- 
    <ion-button [disabled]="!connected"
                (click)="isConnected()">
        <ion-icon ios="ios-warning"
                  md="md-warning"></ion-icon>
    </ion-button>


    <ion-button [disabled]="!connected">
        <ion-icon disabled
                  style="font-size:25px"
                  *ngIf="showBeep"
                  (click)="toogleBeep(false)"
                  ios="ios-volume-mute"
                  md="md-volume-mute"></ion-icon>
        <ion-icon style="font-size:25px"
                  *ngIf="!showBeep"
                  (click)="toogleBeep(true)"
                  ios="ios-volume-off"
                  md="md-volume-off"></ion-icon>
    </ion-button>

    <ion-button [disabled]="!connected"
                *ngIf="!inventoring"
                (click)="getInventory()"
                ion-button
                icon-only>
        <ion-icon name="play"></ion-icon>
    </ion-button>

    <ion-button [disabled]="!connected"
                *ngIf="!inventoring"
                (click)="sendReader()"
                ion-button
                icon-only>
        Send Reader
        <ion-icon name="play"></ion-icon>
    </ion-button>
    <ion-button [disabled]="!connected"
                *ngIf="!inventoring"
                (click)="checkBluetothIsEnabled()"
                ion-button
                icon-only>
        checkBluetothIsEnabled
        <ion-icon name="play"></ion-icon>
    </ion-button>

    <ion-button [disabled]="!connected"
                *ngIf="inventoring"
                (click)="stop()"
                ion-button
                icon-only>
        <ion-icon ios="ios-square"
                  md="md-square"></ion-icon>
    </ion-button>

    <ion-button [disabled]="!connected"
                (click)="clear()"
                ion-button
                icon-only>
        <ion-icon ios="ios-trash"
                  md="md-trash"></ion-icon>
    </ion-button>

    <ion-button *ngIf="connected"
                (click)="sendDislink()"
                ion-button
                icon-only>
        <ion-icon ios="ios-close"
                  md="md-close"></ion-icon>
    </ion-button>

    <ion-button *ngIf="connected"
                (click)="turnOff()"
                ion-button
                icon-only>
        <ion-icon ios="ios-power"
                  md="md-power"></ion-icon>
    </ion-button>

    <ion-button (click)="getBatteryLevel()"
                ion-button
                icon-only>
        <ion-icon ios="ios-power"
                  md="md-power"></ion-icon>
    </ion-button>



    <p>{{status}}</p> -->

    <ion-card *ngIf="devices.length">
        <ion-card-header>
            Dispositivos encontrados:
        </ion-card-header>

        <ion-list>
            <ion-item (click)="handleConnection(item)"
                      *ngFor="let item of devices"
                      ion-item>
                <ion-icon ios="ios-bluetooth"
                          md="md-bluetooth"></ion-icon>
                {{item.name}}
            </ion-item>

        </ion-list>
    </ion-card>

    <p (click)="info(item)"
       *ngFor="let item of tags">
        {{item.tag}} -
        <span *ngIf="item && item.patrimony && item.patrimony.name">{{item.patrimony.name}}</span>
    </p>

</ion-content>