

<ion-list class="ios list-ios hydrated">
    <ion-list-header class="ios hydrated">Configurações</ion-list-header>
    <ion-item (click)="getBatteryLevel()"
              button=""
              class="item ios in-list ion-activatable ion-focusable hydrated">
              Bateria
    </ion-item>
    <ion-item button=""
              [disabled]="!connected"
              *ngIf="!inventoring"
              (click)="sendReader()"
              class="item ios in-list ion-activatable ion-focusable hydrated">
              Enviar Leitor
    </ion-item>
    <ion-item button=""
              class="item ios in-list ion-activatable ion-focusable hydrated">
              Showcase
    </ion-item>
    <ion-item button=""
              class="item ios in-list ion-activatable ion-focusable hydrated">
               GitHub Repo
    </ion-item>
</ion-list>