<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img class="blade-pic" src="/assets/shapes.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle *ngIf="afAuth.auth.currentUser">
        Bem Vindo, {{ afAuth.auth.currentUser.displayName }}
      </ion-card-subtitle>
      <ion-card-subtitle *ngIf="!afAuth.auth.currentUser">
        Bem Vindo
      </ion-card-subtitle>
      <ion-card-title>Blade Ruler App</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p></p>
    </ion-card-content>
  </ion-card>
  <!--  <ion-button>Default</ion-button>
  <ion-button color="primary">Primary</ion-button>
  <ion-button color="secondary">Secondary</ion-button>
  <ion-button color="tertiary">Tertiary</ion-button>
  <ion-button color="success">Success</ion-button>
  <ion-button color="warning">Warning</ion-button>
  <ion-button color="danger">Danger</ion-button>
  <ion-button color="light">Light</ion-button>
  <ion-button color="medium">Medium</ion-button>
  <ion-button color="dark">Dark</ion-button> -->
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Atalhos</ion-label>
    </ion-list-header>
    <ion-item href="">
      <ion-icon slot="start" color="medium" name="barcode"></ion-icon>
      <ion-label>Identificar Facas</ion-label>
    </ion-item>
    <ion-item href="">
      <ion-icon slot="start" color="medium" name="cut"></ion-icon>
      <ion-label>Facas</ion-label>
    </ion-item>
    <ion-item href="">
      <ion-icon slot="start" color="medium" name="contacts"></ion-icon>
      <ion-label>Usuarios</ion-label>
    </ion-item>
    <ion-item href="">
      <ion-icon slot="start" color="medium" name="list"></ion-icon>
      <ion-label>Categorias</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
